# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraformrc
terraform.rc
*.tfplan

# AWS
deployment_info.env

# OS specific
.DS_Store
.idea/
.vscode/

# Logs
*.log

# IDE files
*.swp
*.swo 